/*
 * Poppins
*/

@font-face {
  font-family: 'Poppins Medium';
  src:
    url('~assets/fonts/Poppins-Medium.ttf') format('ttf'),
  ;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold';
  src:
  url('~assets/fonts/Poppins-Bold.ttf') format('ttf'),
  ;
  font-weight: 700;
  font-style: normal;
}

/*
 * Poppins
*/

@font-face {
  font-family: 'Tinos';
  src:
  url('~assets/fonts/Tinos-Regular.ttf') format('ttf'),
  ;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')